@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn__carusel {
  position: absolute;
  top: 566px;
  left: 720px !important;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #000;
  background: #fff !important;
  text-align: center;
  background: 0 0;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .15s ease;
  &:hover{
    background: #bac34e !important;
    color: #fff !important;
  }
  
}
@mixin btn__carusel-2 {
  position: absolute;
  top: 565px;
  right: 30px !important;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #000;
  background: #fff !important;
  text-align: center;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .15s ease;
  &:hover{
    background: #bac34e !important;
    color: #fff !important;
  }
  
}
@mixin btn__3 {
  font-family: "Mazzard H";
  font-size: 12px;
  color: #000;
  font-weight: 700;
  display: block;
  display: flex;
  align-items: center;
  width: 74px;
  position: relative;
  transition: all 0.4s ease;
  animation-name: corusel-btn;
  animation-duration: 1s;
  animation-fill-mode: both;
  @keyframes corusel-btn {
    0% {
      transform: translateX(-100%);
      visibility: visible;
    }
    100% {
      transform: translateX(0);
    }
  }
  &::before{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    position: absolute;
    background: #000;
    bottom: -5px;
    transition:  all 0.4s ease;
  }
  &:hover::before{
    color: #bac34e;
    transition:  all 0.4s ease;
  }
  &:hover::before{
    background: #bac34e;
    transition:  all 0.4s ease;
    
  } 
  &:hover .bi-chevron-double-right::before{
    transform: translateX(4px);
    transition: all 0.4s ease;
  }
  &:hover {
    transform: translateX(5px);
    color: #bac34e;
    transition: all .4s ease;
  }
}

@mixin btn__4 {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  padding: 12px 29px 12px 29px;
  background-color: #bac34e;
  border-radius: 30px;
  margin-left: 40px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  width: 125px;
  &:hover{
    background: #fff;
    color: #bac34e;
    transition: all 0.4s ease;
  }
  &:hover .bi-chevron-double-right::before{
    transform: translateX(4px);
    transition: all 0.4s ease;
    color: #bac34e;
  }
  
}
@mixin services__bg {
  background-image: url(/img/freshio_h1_service_1.png);
  background-repeat: no-repeat;
}
@mixin services__bg-2 {
  background-image: url(/img/freshio_h1_service_2.png);
  background-repeat: no-repeat;
}
@mixin services__bg-3 {
  background-image: url(/img/freshio_h1_service_3.png);
  background-repeat: no-repeat;
}
@mixin services__bg-4 {
  background-image: url(/img/freshio_h1_service_4.png);
  background-repeat: no-repeat;
}
@mixin hook-bg-1 {
  background-image: url(/img/freshio_h2_bn3.jpg);
  background-repeat: no-repeat;
}

@mixin hook-bg {
  background-image: url(/img/freshio_h2_bn4.jpg);
  background-repeat: no-repeat;
}






